*{
  font-family: "Arial","Microsoft yahei";
  font-weight: normal;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
time,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
table tr td{padding:2px 5px;}
html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
blockquote{
  margin-left: 20px;
  padding:10px 15px;
  border-left: 5px solid #ccc;
  background-color: #eee;
}
b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

ul,
ol {
  list-style: none;

}

li {
  display: list-item;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

body {
  font: 13px / 1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

hr {
  border: 0 #eee solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}
body {
  background: white;
  color: #333;

}
a {
  color: gray;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #333;
}

h1 {
  padding-top: 20px;
}
.small{
  font-size: 12px;
}
.display-block {
  font-size: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px 0;
  text-align: center;
}

.grid-container {
  overflow: hidden;
}
.grid-container > hr {
  margin-left: 10px;
  margin-right: 10px;
}
div.messages {
  border-radius: 5px;
}

div[class*="push-"] section {
  background: #dec;
}

div[class*="pull-"] section {
  background: #fcd;
}

.dynamic-px-width {
  display: block;
}
mark,
.mark {
  padding: .2em;
  background-color: #fcf8e3;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777;
}
.text-primary {
  color: #428bca;
}
a.text-primary:hover {
  color: #3071a9;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #428bca;
}
a.bg-primary:hover {
  background-color: #3071a9;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
/*custom css*/
.pull-left{float: left;}
.pull-right{float: right;}
.list-inline li{
  display: inline-block;
}
.bg-white{
  background-color: #fff;
}
.bg-orange{
  background-color: #D75749;
}
.bg-lightorange{
  background-color: #fc6454;
}
.bg-gray{
  background-color: #404040;
}
.bg-lightgray{
  background-color: #eee;
}
.bg-pink{
  background-color:#fcd;
}
.bg-green{
  background-color:#dec;
}
.grid-container{
  margin-left: 0;
  max-width: 1170px;
}
.fixed{
  position: fixed;
}
header,.header{
  margin-bottom: 0px;
  z-index: 10;
}
header .logo{margin-bottom: 20px;}
header .nav{padding-right: 50px;}
header .nav li{
  margin: 15px 0;
}
header .nav li a{color: #333;}
header .nav li a:hover{
  color: #000;
  text-decoration: none;
}
.showmenu{
  position: relative;
  line-height: 35px;
  border-bottom: 1px solid #ccc;
}
.showmenu i{
  display: block;
  font-size: 30px;
  padding-top: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}
#header {
   background-color:transparent;
}
#header .first-nav{
   padding-top: 10px;
   margin-top: -20px;
}
 
#header .nav{

  background-color: rgba(255, 255, 255, 0.8);
}
.user-picture img{width: 50px;}
.profile img{
  width: 100px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
.profile h3{margin-bottom: 20px;}
.thumb{
  padding: 20px;
  background-color:#eee; 
}
.thumb:hover{background-color: #ccc;}
.thumb img{
  height: auto; 
}
.thumb img:hover{
  opacity: 0.65;
  filter:alpha(opacity=65);
}
.thumb .thumb-title{
  padding-right: 15px;
  padding-top: 1em;
  font-size: 12px;
  text-align: left;
}
.thumb .thumb-title a{
  font-weight: 700;
  color: #333;
}
.thumb .thumb-description{
  padding-right: 15px;
  font-style: normal;
  font-size: 12px;
  text-align: left;
}
.thumb .thumb-stat{
  margin-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
}
.thumb p span{font-size: 12px;}
.thumb .commentcount{
  margin-left: 5px;
}
.content ol{padding-left: 15px;}
.content ol li{list-style-type: list-item}
.view-content .views-row,
.node-blog{
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.view-content .views-row:last-child,
.node-blog:last-child{
  border-bottom: 1px solid transparent;
}
.view-content .views-row h3.field-label{
  float: left;
  margin-right: 10px;
}

.field .field-label{
  font-weight: lighter;
  color: #666;
}
.field-name-field-tags h3,
.field-name-field-tags ul{
  float: left;
  line-height: 51px;
  margin-right: 5px;
}
.link-wrapper:after{
  content: "";
  display: block;
  clear: both;
}
.links li{
  list-style-type: none;
  float: left;
  margin-right: 5px;
}
.links .first{float: left;}
.links .last{float: right;}
.comment .last{float: left;}
.region-work{
  overflow: hidden;
}
.region-work .views-row-first .grid-33{
  position: relative;
}
.region-work .views-row-first .grid-33:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 31px;
  height: 57px;
  background: url("../images/new.png") no-repeat 0 -20px;
  z-index:0;
}
.flag-action{

  text-indent: 100;
  /*background: url("../images/icon-hearts.png") no-repeat 0 0px;*/
  overflow: hidden;
}
.unflag-action{
  text-indent: 100;
  /*background: url("../images/icon-hearts.png") no-repeat 0 16px;*/
  overflow: hidden;
}
.more{margin-top: 20px;}
.more a{
  display:inline-block;
  width: 44px;
  height: 44px;
  background-color: #ddd;
  font-size: 44px;
  line-height: 120px;
  color: #fff;
  border-radius: 50px;
  background: url("../images/more.png") no-repeat;
}
.more a:hover{
  text-decoration: none;
  background: url("../images/more.png") no-repeat 0 -44px;
}
.item-list ul li {
    margin: 0px 0px 0.25em 0.5em;
    padding: 0px;
}
.object-tags{
  position: fixed;
  right: 6%; 
  padding-top: 5px; 
  padding-bottom: 5px;

}
.object-tags h3{
  margin-bottom: 5px;
  font-size: 15px;
}
.object-tags a{
  float: left;
  padding: 2px 10px;
  margin-right: 7px;
  margin-bottom: 5px;
  border:1px solid #ddd;
  border-radius: 3px;
  text-transform: lowercase;
}
.object-tags a:hover{
  text-decoration: none;
  box-shadow: 0 2px 5px #eee;
}
/*node css*/
.breadcrumb{
  margin-bottom: 10px;
  padding: 10px;
}
.breadcrumb li,
.tabs-primary li,
.comment-text li,
.field-name-field-tags div{
  float: left;
  margin-right:5px;
}
.breadcrumb .time{
  font-size: 12px;
  color: #666;
}
.tabs-primary {margin: 10px 0;}
.tabs-primary li{
  background-color:#eee; 
  padding:5px; 
}
.comment {
    margin: 20px 0;
}
.node-title{
  line-height: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.form-text {
    padding: 8px 0px 9px 10px;
    border-radius: 2px;
}
#edit-submit--3 {
  min-width: 120px;
  border: 0px solid #E5E5E5;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 10px 10px;
  background-color: #555;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
#edit-submit--3:hover{
  background-color: #333;
}
.media-body h3{
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.media-object{margin-right: 10px;}
.content{padding: 10px 0;}
.content .meta{padding-top: 10px;}
.content p{margin:5px 0;line-height: 180%;}
.comments__form-title{
  margin-top: 15px;
  padding-top: 10px;
  font-size: 16px;
  border-top: 1px solid #CCC;
}
.comment-form label, .comment-form #edit-subject {
    display: none;
}
#edit-actions input{
  border: 0;
  padding: 5px 15px;
  margin-right: 5px;
  color: #fff;
  opacity: 0.8;
}
#edit-actions #edit-submit{
  background: rgb(25,185,154);
}
#edit-actions #edit-preview{
  background: rgb(0,0,0);
}
#edit-actions input:hover{
  opacity: 1;
}
.breadcrumb:after,
.tabs-primary:after,
.comment-text:after,
.field-name-field-tags:after{
  content: "";
  display: block;
  clear: both;
}
div.user-avatar-select label.option img {
	max-width: 100px;
}
.footer{
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: #ccc;
}
.footer a{color: rgb(51,204,153)}
.footer a:hover{
  color: #333;
  text-decoration: none;
}
@media screen and (max-width:768px){
  header, .header {
    position: relative;
  }
	.mobile-grid-100{
   	padding-top: 40px;
  }
  #header{
  	 margin-top: -20px;
  }
}
